:root {
	--blue: #0061ff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
	color: currentColor;
	display: inline-block;
}

img {
	max-width: 100%;
}

ul,
ol,
menu {
	list-style: none;
}

.container {
	max-width: 1000px;
	margin: 0 auto;
}

.container-lg {
	max-width: 1200px;
	margin: 0 auto;
}

.container-fluid {
	max-width: 100%;
	margin: 0 auto;
}

.row {
	display: flex;
}

.col-30 {
	width: calc(100% / 3);
}

.col-50 {
	width: 50%;
}

.col-60 {
	width: calc((100% / 3) * 2);
}

.col-100 {
	width: 100%;
}

.w-full {
	width: 100%;
}

/*
NAVBAR
*/
.main-header {
	position: sticky;
	top: 0;
	/* left: 0;
	right: 0; */
	background-color: white;
}

.main-header .row {
	padding: 28px;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.nav__menu {
	display: flex;
	align-items: center;
}

.menu__link {
	padding: 0 18px;
	white-space: nowrap;
}

.menu__link > a {
	line-height: 34px;
	font-size: 16px;
}

.menu__link.logo {
	padding-left: 0;
}

.menu__link.logo * {
	display: block;
}

/*
HERO
*/
.hero {
	background-color: #b4d0e7;
	padding-top: 70px;
}

.title-1 {
	font-size: 74px;
	margin-bottom: 48px;
}

.title-2 {
	font-size: 38px;
	font-weight: 700;
	margin-bottom: 20px;
}

/*
BUTTON 
*/
.button {
	line-height: 44px;
	font-size: 18px;
	padding: 0 17px;
	text-align: center;
	display: inline-block;
}

.button--blue {
	background-color: var(--blue);
	border-color: var(--blue);
	color: white;
}

.hero .icon {
	font-size: 64px;
	margin-top: auto;
}

.hero .col-30 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 30px;
}

.plans {
	padding: 120px 0 70px 0;
}

/* radio input */
.radio-buttons__wrapper {
	margin: 30px 0;
}

.radio-input {
	display: flex;
	gap: 8px;
	align-items: center;
	margin-right: 24px;
}

.circle {
	width: 20px;
	height: 20px;
	/* aspect-ratio: 1 / 1; */
	border: 2px solid #d1d1d1;
	border-radius: 50%;
	display: block;
}

.square {
	aspect-ratio: 1 / 1;
}

.circle.checked {
	border-color: var(--blue);
	border-width: 4px;
}

.cards-wrapper {
	gap: 50px;
	flex-wrap: wrap;
}

.cards-wrapper .col {
	/* width: calc((100% - 100px) / 3); */
	flex-grow: 1;
	flex-basis: 0;
}

.card {
	border: 1px solid black;
	height: 100%;
}

.card__header {
	padding: 13px 0;
	text-align: center;
	border-bottom: 1px solid black;
}

.card__body {
	padding: 32px 24px;
	display: flex;
	flex-direction: column;
	gap: 45px;
}

.plan__title {
	font-size: 24px;
}

.plan__features,
.plan__header {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.feature {
	display: flex;
	gap: 8px;
	font-size: 12px;
}

.icons--blue i {
	color: var(--blue);
}

.plan__cta {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.plan__cta a:not(.button--blue) {
	color: var(--blue);
	text-decoration: underline;
}

.plan__cta::after {
	content: '';
	display: block;
	height: 1px;
	background-color: black;
	width: 45px;
}

.card--landscape .row {
	align-items: center;
	justify-content: space-between;
}

.card--landscape p {
	max-width: 700px;
	margin-top: 32px;
}

.card--landscape .card__body {
	gap: 10px;
}
